.config-label {
	font-size: 6vw;
	width: 40vw;
}

.config-input {
	height:6vw;
	width:40vw;
}

.config-button {
	height: 10vw;
	width: 45vw;
	font-size:7vw;
}

.large-config-button {
	height: 10vw;
	width: 100%;
	font-size:7vw;
}

h3 {
	font-size:7vw;
	font-weight: bold;
}

div {
	font-size:5vw;
	word-wrap: break-word;
}

#data {
	font-size:5vw;
	width: 90vw;
	margin-top: 10px;
	margin-bottom: 10px;
}

@media screen and (min-width: 601px) {
	.config-label {
		font-size: 1.5vw;
		width: 20vw;
	}
	
	.config-input {
		height:1.5vw;
		width:20vw;
	}
	
	.config-button {
		height:2.5vw;
		width:15vw;
		font-size:1.5vw;
	}

	.large-config-button {
		height:2.5vw;
		width:100%;
		font-size:1.5vw;
	}
	
	h3 {
		font-size:2vw;
	}
	
	div {
		font-size:1.5vw;
	}
	
	#data {
		font-size:1.5vw;
		width: 90vw;
		margin-top: 10px;
		margin-bottom: 10px;
	}
}