body {
    font-size: 6vw;
    margin: 3%;
}

h2 {
    font-size: 7vw;
}

.logo {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 1vh;
}

.description {
    color: black;
    font-size: 5vw;
    margin-top: 5px;
}

.card-icon {
    width: 10vw;
    padding-right: 5px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    background-color: #b1b3b43b;
    height: fit-content;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.test-page-link {
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: #002592;
}

.test-pages {
    margin-top: 10px;
}

/* Auto format for large screens */
@media screen and (min-width: 601px) {
    .logo {
        width: 25vw;
        margin-bottom: 5vh;
        margin-left: 0;
        margin-right: 0;
    }

    h2 {
        font-size: 2vw;
        margin-left: auto;
        margin-right: auto;
    }

    .description {
        color: black;
        font-size: 1.5vw;
        margin-top: 15px;
    }

    body {
        margin: 1%;
    }

    .test-page-link {
        font-size: 0.35em;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
        color: #002592;
    }

    .card {
        height:fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        padding: 15px;
        margin: 0px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    .test-pages {
        display: grid;
        margin-left: 10px;
        margin-right: 10px;
        grid-template-columns: repeat(3, 1fr);
        justify-content: space-between;
        grid-auto-rows: auto;
        grid-gap: 1.5rem;
        margin-top: 40px;
    }

    .card-icon {
        width: 25%;
        margin-left: auto;
        margin-right: auto;
        min-height: 150px;
    }
}